

<% if @movie.errors.any? %>
  <strong>Please correct the following:</strong>
  <ul>
    <% @movie.errors.full_messages.each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @movie, local: true do |f| %>

  <%= f.label :name %>
  <br>
  <%= f.text_field :name %>
  <br>
  <br>

  <%= f.label :poster %>
  <br>
  <%= f.text_field :image %>
  <br>
  <br>

  <%= f.label :category %>
  <br>
  <%= f.select(:object_field, ['Romance', 'Disaster','Action', 'Thriller', 'Black Comedy', 'Coming-of-age', 'Drama']) %>
  <br>
  <br>


  <%= f.submit class:"submit"%>

<% end %>