
<h2>.</h2>
<div class="create_post">
<% if flash[:error] %>
    <br>
    <strong>
      <%= flash[:error] %>
    </strong>
    <br>
    <br>
  <% end %>
<div class="container">
<%= form_with url: login_path, local: true do |f| %>
<h1>Welcome</h1>
<br><br>
<div class="all-form">
  <%= f.label :email%>
  <br>
  <%= f.text_field :email, placeholder:"Email Address", class:"field" %>
  <br><br>

  <%= f.label :password %>
  <br>
  <%= f.password_field :password, placeholder:"password", class:"field"%>
  <br><br>

  <%= f.submit'Login',class:"submit"%>
</div>
<% end %>
</div>
</div>