

<h2 class="user-name"><%= @user.name %></h2> 
<p>
<%= @user.about %>
</p>
<div >
<% if @user.image.present? %>
  <%= image_tag @user.image, alt: @user.name, class:"user_image" %>
<% end %>
</div>

<h4> Liked </h4>

<ul>
<% @current_user.liked_posts.each do |p| %>
  <li>
    <%= link_to p.name, post_path(p.id) %>
    <br>
    <%= link_to (image_tag p.image, alt: p.name), post_path(p) %>
  </li>
<% end %>
</ul>






