
<h2>
   Welcome to M!
</h2>

<div id="images">
   
  
  <%= image_tag "1.gif", class: 'home_image' %>
  <%= image_tag "2.gif", class: 'home_image' %>
  <%= image_tag "3.gif", class: 'home_image' %>
   <%= image_tag "4.gif", class: 'home_image' %>
  <%= image_tag "5.gif", class: 'home_image' %>
  <%= image_tag "6.gif", class: 'home_image' %>
  <%= image_tag "7.gif", class: 'home_image' %>
  <%= image_tag "8.gif", class: 'home_image' %>
  <%= image_tag "9.gif", class: 'home_image' %>
  <%= image_tag "10.webp", class: 'home_image' %>
  <%= image_tag "11.gif", class: 'home_image' %>
  <%= image_tag "12.gif", class: 'home_image' %>
  <%= image_tag "13.gif", class: 'home_image' %>
  <%= image_tag "14.gif", class: 'home_image' %>
  <%= image_tag "15.gif", class: 'home_image' %>
  <%= image_tag "16.gif", class: 'home_image' %>
  <%= image_tag "17.gif", class: 'home_image' %>
  <%= image_tag "17.webp", class: 'home_image' %>
  <%= image_tag "18.gif", class: 'home_image' %>
  <%= image_tag "19.gif", class: 'home_image' %>
  <%= image_tag "20.webp", class: 'home_image' %>
  <%= image_tag "21.gif", class: 'home_image' %>
  <%= image_tag "22.gif", class: 'home_image' %>
  <%= image_tag "23.gif", class: 'home_image' %>
  <%= image_tag "24.gif", class: 'home_image' %>
  <%= image_tag "25.gif", class: 'home_image' %>
  <%= image_tag "26.gif", class: 'home_image' %>
  <%= image_tag "27.gif", class: 'home_image' %>
  <%= image_tag "28.gif", class: 'home_image' %>
  <%= image_tag "29.gif", class: 'home_image' %>
  <%= image_tag "30.gif", class: 'home_image' %>
  <%= image_tag "31.webp", class: 'home_image' %>
  <%= image_tag "32.gif", class: 'home_image' %>
  <%= image_tag "33.gif", class: 'home_image' %>
  <%= image_tag "34.gif", class: 'home_image' %>
  <%= image_tag "35.webp", class: 'home_image' %>
  <%= image_tag "36.gif", class: 'home_image' %>
  <%= image_tag "37.webp", class: 'home_image' %>
  <%= image_tag "38.webp", class: 'home_image' %>
  <%= image_tag "39.webp", class: 'home_image' %>
  <%= image_tag "40.gif", class: 'home_image' %>
  <%= image_tag "41.gif", class: 'home_image' %>
  <%= image_tag "42.gif", class: 'home_image' %>
  <%= image_tag "43.gif", class: 'home_image' %>
  <%= image_tag "44.gif", class: 'home_image' %>
  <%= image_tag "45.gif", class: 'home_image' %>
  <%= image_tag "46.gif", class: 'home_image' %>
  <%= image_tag "47.gif", class: 'home_image' %>
  <%= image_tag "48.gif", class: 'home_image' %>
  <%= image_tag "49.gif", class: 'home_image' %>
  <%= image_tag "50.gif", class: 'home_image' %>
  <%= image_tag "51.webp", class: 'home_image' %>
  <%= image_tag "52.webp", class: 'home_image' %>
  <%= image_tag "53.gif", class: 'home_image' %>
  <%= image_tag "54.gif", class: 'home_image' %>
  <%= image_tag "55.gif", class: 'home_image' %>
  <%= image_tag "56.gif", class: 'home_image' %>
  <%= image_tag "57.gif", class: 'home_image' %>
  <%= image_tag "58.webp", class: 'home_image' %>
  <%= image_tag "59.gif", class: 'home_image' %>
  <%= image_tag "60.gif", class: 'home_image' %>
  <%= image_tag "61.webp", class: 'home_image' %>            <%= image_tag "62.gif", class: 'home_image' %>
  <%= image_tag "63.gif", class: 'home_image' %>
  <%= image_tag "64.gif", class: 'home_image' %>
  <%= image_tag "65.gif", class: 'home_image' %>
  <%= image_tag "66.gif", class: 'home_image' %>
  <%= image_tag "67.gif", class: 'home_image' %>
  <%= image_tag "68.gif", class: 'home_image' %>
  <%= image_tag "69.gif", class: 'home_image' %>
  <%= image_tag "70.gif", class: 'home_image' %>
  <%= image_tag "71.gif", class: 'home_image' %>
  <%= image_tag "72.gif", class: 'home_image' %>
  <%= image_tag "73.gif", class: 'home_image' %>
  <%= image_tag "74.gif", class: 'home_image' %>
  <%= image_tag "75.gif", class: 'home_image' %>
  <%= image_tag "76.gif", class: 'home_image' %>
  <%= image_tag "77.gif", class: 'home_image' %>
  <%= image_tag "78.gif", class: 'home_image' %>
  <%= image_tag "79.gif", class: 'home_image' %>
  <%= image_tag "80.webp", class: 'home_image' %>            <%= image_tag "81.gif", class: 'home_image' %>
  <%= image_tag "82.gif", class: 'home_image' %>
  <%= image_tag "83.gif", class: 'home_image' %>
  <%= image_tag "84.gif", class: 'home_image' %>
  <%= image_tag "85.gif", class: 'home_image' %>
  <%= image_tag "86.gif", class: 'home_image' %>
  <%= image_tag "87.gif", class: 'home_image' %>
  <%= image_tag "88.gif", class: 'home_image' %>
  <%= image_tag "89.webp", class: 'home_image' %> 
  <%= image_tag "90.webp", class: 'home_image' %> 
  <%= image_tag "91.gif", class: 'home_image' %>
  <%= image_tag "92.gif", class: 'home_image' %>
  <%= image_tag "93.gif", class: 'home_image' %>
  <%= image_tag "94.gif", class: 'home_image' %>
  <%= image_tag "95.gif", class: 'home_image' %>
  <%= image_tag "96.gif", class: 'home_image' %>
  <%= image_tag "97.gif", class: 'home_image' %>
  <%= image_tag "98.gif", class: 'home_image' %>
  <%= image_tag "99.webp", class: 'home_image' %>
  <%= image_tag "100.gif", class: 'home_image' %>
 

  





















  
</div>
