
<h2>
   Welcome to M!
</h2>

<div id="images">
   
  <%= image_tag "leon2.jpeg", class: 'home_image' %>
  <%= image_tag "captain.jpeg", class: 'home_image' %>
  <%= image_tag "Pulp-Fiction1.png", class: 'home_image' %>
  <%= image_tag "titanic3.webp", class: 'home_image' %>
  <%= image_tag "callmebyyourname1.jpeg", class: 'home_image' %>
  <%= image_tag "captain2.png", class: 'home_image' %>
  <%= image_tag "leon1.webp", class: 'home_image' %>

  
 
  
</div>
