
<h2>All Posts</h2>


<p>
  Total: <%= pluralize(@posts.length, 'post') %>
</p>


<div class="post_many">
  <ul classs="text">
  <% @posts.each do |post| %>    
    <%= link_to (image_tag post.image, alt: post.name),post_path(post) %>
      <%= link_to post.name, post_path(post)  %>
      <br>
      <%= link_to post.user.name, user_path(post.user) %>
      <div id="user_p">
      <%= link_to (image_tag post.user.image), user_path(post.user) %>
      </div>
  <% end %>
  </ul>
</div>
