
<h2>
  Post: <%= @post.name %>
</h2>

<br>

<div class="c">
<div class="post_photo">
<% if @post.image.present? %>
  <%= image_tag @post.image, alt: @post.name %>
<% end %>
</div>

<div class="post-text">
<%= @post.mind %>
</div>

<%= link_to @post.user.name, user_path(@post.user), class:"post_user_name"%>
<%= link_to @post.movie.name, movie_path(@post.movie),class:"post_user_name" %>
<% @post.categories.each do |c|%>
<%= link_to c.name, category_path(c), class:"post_user_name"%>
<% end %>
<% if @current_user.liked_posts.include?(@post) %>
  <%= button_to '♥', like_toggle_path(@post.id),class:"un-heart" %>
<% else %>
  <%= button_to '♥', like_toggle_path(@post.id), class:"heart" %>
<% end %>

<p class="time">
  <em>
    Last updated <%= time_ago_in_words(@post.updated_at) %> ago
    <br>
    Last Updated at <%= @post.updated_at.strftime '%A %e %b, %Y %l:%M%P' %>
  </em>
</p>

<% if @current_user.present? && @current_user.id == @post.user_id %>
  <%= link_to 'Edit', edit_post_path(@post), class:"edit" %>
<% end %>

<div class="comment-text">
<h3 class="Comm">
  Comments:
</h3>
 <div class="add-comment">
  <%= form_with model: @comment, local: true do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.label :+ %>
    <%= f.text_field :comment %>  <%= f.submit 'Add a comment' %> 
  <% end %>
  </div>

  <br><br>
  <div class="comment-item">
    <% @post.comments.each do |c| %>
    <div class="">
      <%= link_to c.user.name, user_path(c.user)%> 
    </div>
    <div class="ccc">
      <%= c.comment %> 
    </div>
    <% end %>
  </div>

</div>
</div>


 











